/*Desktop*/
@media (min-width: 1000px) {
  .mobile {
    display: none;
  }

  .tablet {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .title-cirlces {
    width: 1000px;
    height: 400px;
  }

  .name {
    top: 300px;
    right: 150px;
    margin: 0;
  }

  .home {
    height: 400px;
    box-sizing: border-box;
    margin-bottom: 100px;
  }

  .desktop-nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #737373;
    height: 50px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 15;
    background-color: rgba(249,249,249, 1);
  }

  .desktop-menu {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1000px;
    justify-content: space-around;
    font-size: 28px;
  }

  header, nav {
    display: none;
  }

  main {
    width: 1000px;
    margin: 50px auto;
    padding: 0;
  }

  .project {
    padding: 0;
  }

  .project-title {
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
  }

  .project-links, .project-desc {
    padding: 0 20px 0 20px;
    box-sizing: border-box;
  }

   .tags {
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
  }

  .mancala-images, .pitched-images, .wedding-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 800px;
  }

  .pitched-images, .wedding-images {
    height: 1050px;
  }

  .wedding-images {
    height: 1250px;
  }

  .project-circles {
      width: 1000px;
      height: 100%;
    }

  .img-1 {
    width: 580px;
    height: 580px;
    top: 40px;
    left: 25px;
    z-index: 3;
  }

  .img-2 {
    width: 420px;
    height: 420px;
    right: 40px;
    top: 220px;
    z-index: 2;
  }

  .img-1-alt {
    width: 580px;
    height: 580px;
    top: 40px;
    right: 25px;
    z-index: 3;
  }

  .img-2-alt {
    width: 420px;
    height: 420px;
    left: 40px;
    top: 220px;
    z-index: 2;
  }

  .img-3 {
    width: 430px;
    height: 430px;
    left: 180px;
    bottom: 230px;
    z-index: 3;
  }

  .img-3-alt {
    width: 400px;
    height: 400px;
    right: 250px;
    bottom: 65px;
    z-index: 2;
  }

  .img-4 {
    width: 380px;
    height: 380px;
    right: 80px;
    bottom: 70px;
    z-index: 2;
  }

  .main-graphic {
    display: flex;
    width: 100%;
    margin: 25px auto;
  }

  .about-content {
    align-items: center;
  }

}
