@media (min-width: 1280px) {

  header, footer {
    width: 1280px;
    margin: auto;
  }

  nav {
    font-size: 18px;
    padding-right: 45px;
  }

  .about {
    justify-content: space-between;
  }

  .about-img {
    width: 30%;
    height: 500px;
    margin: 95px 100px 0 0;
  }

  .heading {
    padding-left: 30px;
  }

  .content {
    padding: 0 30px 0 45px;
  }

  .row {
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .border-alt {
    border-left: solid black 2px;  
  }

  .contact-links {
    width: 55%;
    padding: 10px 70px 10px 15px;
  }

  .contact-links a {
    margin: 0 30px;
  }

  .desktop {
    display: flex;
  }


}
