@font-face {
  font-family: "Tex Gyre Adventor";
  src: url("./tex-gyre-adventor/texgyreadventor-regular.otf");
}

@font-face {
  font-family: "Tex Gyre Adventor Italic";
  src: url("./tex-gyre-adventor/texgyreadventor-italic.otf");
}

@font-face {
  font-family: "Tex Gyre Adventor Bold";
  src: url("./tex-gyre-adventor/texgyreadventor-bold.otf");
}

@font-face {
  font-family: "Simple Signature";
  src: url("./arsenale-white2/arsenale_white.ttf");

}

@import url(http://weloveiconfonts.com/api/?family=entypo);

body {
  font-family: "Tex Gyre Adventor";
  letter-spacing: 1px;
  color: darkgrey;
  margin: 0;
  width: 100%;
}

.home {
  position: relative;
}

#name {
  font-family: "Simple Signature";
  font-size: 110px;
  letter-spacing: 4px;
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
}

.desktop-nav {
  display: none;
}

.main-graphic {
  display: flex;
  width: 100%;
  margin: 25px auto;
}

.title-cirlces {
  width: 340px;
  height: 400px;
  margin: auto;
}

/*Slide-out menu credit to https://codepen.io/shahbokhari/pen/uDahz*/
header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px darkgrey solid;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(201, 213, 213, .8);
}

nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.menu-link {
  text-decoration: none;
  color: darkgrey;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 5px 0;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: darkgrey;
}

a:hover {
  opacity: .6;
}

.menu {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 50px;
  background-color: rgba(217, 213, 213, .8);
  left: -50%;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  z-index: 20;
}

.slide {
  left: 0;
}

header > .material-icons {
  font-size: 30px;
}

main {
  padding: 10px;
  margin-top: 50px;
  width: 100%;
  box-sizing: border-box;
}

section {
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

section > h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 40px 0 20px 0;
  box-sizing: border-box;
  border-bottom: 1px solid darkgrey;
  padding: 0 5px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

#about-img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 20px 0 30px 0;
  box-sizing: border-box;
}

#bio {
  margin: 0 5px 20px 5px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px 0;
  border-radius: 5px;
  box-sizing: border-box;
}

.project-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid darkgrey;
  margin-top: 5px;
}

.project-title-alt {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 1px solid darkgrey;
  margin-top: 5px;
}

.mancala-images, .pitched-images, .wedding-images {
  width: 100%;
  box-sizing: border-box;
}

.pitched-img, .wedding-img, .mancala-img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-sizing: border-box;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
}

.project h2 {
  letter-spacing: 2px;
  font-size: 22px;
  text-transform: none;
  margin: 5px;
}

.project-links, .project-date {
  align-self: flex-end;
  margin: 0;
  box-sizing: border-box;
  padding: 0 5px;
}

.project-desc {
  width: 100%;
  text-align: right;
  font-size: 14px;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 0 5px;
}

.project-date-alt, .project-links-alt {
  align-self: flex-start;
  margin: 0;
  box-sizing: border-box;
  padding: 0 5px;
}

.project-desc-alt {
  width: 100%;
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 0 5px;
}

.tags {
  margin: 0 5px 0 0;
  text-align: right;
  align-self: flex-end;
}

.tags-alt {
  margin: 0 0 0 5px;
  text-align: left;
  align-self: flex-start;
}

span {
  display: inline-block;
  background-color: darkgrey;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 10px;
  margin: 2px;
  box-sizing: border-box;
}

#contact-blurb {
  padding: 0 5px;
  align-self: flex-start;
}

.contact-links {
  margin-top: 40px;
}

.contact-row {
  display: flex;
  flex-direction: row;
}

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
  justify-content: center;
}

.contact-card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  box-sizing: border-box;
  cursor: pointer;
}

.contact-card a {
  margin: 0;

}

.contact-card p {
  text-transform: none;
  font-size: 14px;
  margin: 0 0 5px 0;
  cursor: pointer;
  opacity: .8;
}

.right {
  border-right: 1px solid darkgrey;
}

.bottom {
  border-bottom: 1px solid darkgrey;
}

/*Tablet*/
@media (min-width: 600px) {
  .main-graphic {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 25px auto;
  }

  .mancala-images, .pitched-images, .wedding-images {
    width: 580px;
    height: 600px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
  }

  .project-circles {
    width: 580px;
    height: 600px;
  }

  .img-1 {
    width: 360px;
    height: 360px;
    top: 0;
    left: 15px;
    z-index: 3;
  }

  .img-2 {
    width: 260px;
    height: 260px;
    right: 15px;
    top: 210px;
    z-index: 2;
  }

  .img-1-alt {
    width: 360px;
    height: 360px;
    top: 0;
    right: 15px;
    z-index: 3;
  }

  .img-2-alt {
    width: 260px;
    height: 260px;
    left: 15px;
    top: 210px;
    z-index: 2;
  }

  .mancala-img, .pitched-img, .wedding-img {
    position: absolute;
  }

  .tablet {
    display: flex;
  }

  .title-cirlces {
    width: 600px;
    height: 400px;
    margin: auto;
  }

  .home {
    position: relative;
  }

  #name {
    z-index: 3;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    font-size: 140px;
  }

  .menu {
    width: 35%;
  }
}

/*Desktop*/
@media (min-width: 1000px) {
  .mobile {
    display: none;
  }

  .tablet {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .title-cirlces {
    width: 1000px;
    height: 400px;
  }

  #name {
    top: 325px;
    right: 150px;
    margin: 0;
  }

  .home {
    height: 450px;
    box-sizing: border-box;
  }

  .desktop-nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid darkgrey;
    height: 50px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 15;
    background: white;
  }

  .desktop-menu {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1000px;
    justify-content: space-around;
    font-size: 28px;
  }

  header, nav {
    display: none;
  }

  main {
    width: 1000px;
    margin: 50px auto;
    padding: 0;
  }

  .mancala-images, .pitched-images, .wedding-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 800px;
  }

.pitched-images, .wedding-images {
  height: 1050px;
}

.wedding-images {
  height: 1250px;
}

.project-circles {
    width: 1000px;
    height: 800px;
  }

  .img-1 {
    width: 580px;
    height: 580px;
    top: 0;
    left: 25px;
    z-index: 3;
  }

  .img-2 {
    width: 420px;
    height: 420px;
    right: 25px;
    top: 210px;
    z-index: 2;
  }

  .img-1-alt {
    width: 580px;
    height: 580px;
    top: 0;
    right: 25px;
    z-index: 3;
  }

  .img-2-alt {
    width: 420px;
    height: 420px;
    left: 25px;
    top: 210px;
    z-index: 2;
  }

  .img-3 {
    width: 430px;
    height: 430px;
    left: 180px;
    bottom: 230px;
    z-index: 3;
  }

  .img-3-alt {
    width: 400px;
    height: 400px;
    right: 250px;
    bottom: 50px;
    z-index: 2;
  }

  .img-4 {
    width: 380px;
    height: 380px;
    right: 80px;
    bottom: 70px;
    z-index: 2;
  }

  .main-graphic {
    display: flex;
    width: 100%;
    margin: 25px auto;
  }

}
