/*Tablet*/
@media (min-width: 600px) {
  .main-graphic {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 25px auto;
  }

  main {
    padding: 10px;
  }

  .bio {
    margin-bottom: 0;
  }

  .project {
    margin: 0 0 20px 0;
    padding: 20px;
  }

  .tablet {
    display: flex;
  }

  .home {
    height: 400px;
  }

  .title-cirlces {
    width: 100%;
    height: 300px;
    margin: auto;
  }

  .home {
    position: relative;
  }

  .name {
    z-index: 3;
    position: absolute;
    top: 55%;
    transform: translate(0, -50%);
    margin: 0;
    font-size: 50px;
  }

  .menu {
    width: 35%;
  }

  .about-content {
    flex-direction: row;
    margin: 40px 0 40px 0;
    align-items: center;
  }

  .about-img {
    margin: 0 20px 0 0;
  }

.cards {
  flex-direction: row;
  justify-content: space-between;
}

  .card {
  width: 32%;
}



}
